# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.sqlite3

# Virtual environment
env/
venv/
ENV/
.venv/
*.env

# Django stuff
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
