# Django و Channels
Django==5.0.4
asgiref==3.8.1
channels==4.1.0
daphne==4.1.2
dj-database-url==2.2.0

# قواعد بيانات
mysqlclient==2.2.0        # لو تستخدم MySQL
# psycopg2-binary==2.9.9  # لو تستخدم PostgreSQL (اختياري)

# Forms و REST API
djangorestframework>=3.14,<4
django-crispy-forms==2.4
django-phonenumber-field==7.3.0

# تحسين ملفات static
whitenoise==6.6.0

# ملفات الصور والفيديوهات (اختياري حسب المشروع)
pillow==10.3.0
opencv-python==4.8.0.76

# HTTP requests
requests==2.31.0
urllib3==2.2.1
